body {
	background-image: url('imgs/index.png');
	background-size: 100vw;
	background-repeat: no-repeat;
}

#tudo {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100vh;
}

#logo {
	margin-top: 5rem;
}

.botoes {
	height: 4rem;

}