#tudo3 {
	background-image: url('imgs/menu.png');
	background-size: 100vw;
	background-repeat: no-repeat;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

#logo3 {
	margin-top: 2rem;
	width: 8rem;
}

.botoes {
	height: 3.8rem;
	margin-top: 5rem;
}
